{% extends 'base.html' %}
{% block title %}
Toxins Finder 
{% endblock %}

{% block content %}
<body class="bg-light">
    <div class="container mt-5">
        <h2 class="mb-4">Consulta de Toxinas</h2>

         <form method="POST">
            <!-- Campo de entrada para CAS Numbers -->
            <div class="mb-3">
                <label for="cas_numbers" class="form-label">Enter CAS Number (comma-separated):</label>
                <textarea class="form-control" id="cas_numbers" name="cas_numbers" rows="3"></textarea>
            </div>

            <!-- Seleção de bancos de dados -->
            <div class="mb-3">
                <label class="form-label">Select Databases to Extract From:</label>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="databases" value="PubChem">
                    <label class="form-check-label">PubChem</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="databases" value="ECHA">
                    <label class="form-check-label">ECHA</label>
                </div>
            </div>

            <!-- Botão de busca -->
            <button type="submit" class="btn btn-primary">Find Toxins</button>
        </form>

        {% if results %}
    <h3 class="mt-5">Results</h3>
    {% for cas, databases in results.items() %}
        <h4 class="mt-3">CAS Number: {{ cas }}</h4>
        
        <!-- Accordion para selecionar o banco de dados -->
        <div class="accordion" id="accordion-{{ cas }}">
            {% for db, data in databases.items() %}
                <div class="accordion-item">
                    <h2 class="accordion-header" id="heading-{{ cas }}-{{ db }}">
                        <button class="accordion-button {% if not loop.first %}collapsed{% endif %}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-{{ cas }}-{{ db }}" aria-expanded="{% if loop.first %}true{% else %}false{% endif %}" aria-controls="collapse-{{ cas }}-{{ db }}">
                            {{ db }} Data
                        </button>
                    </h2>
                    <div id="collapse-{{ cas }}-{{ db }}" class="accordion-collapse collapse {% if loop.first %}show{% endif %}" aria-labelledby="heading-{{ cas }}-{{ db }}" data-bs-parent="#accordion-{{ cas }}">
                        <div class="accordion-body">
                            <pre>{{ data | tojson(indent=4) | safe }}</pre>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endif %}
    </div>
</body>
</html>
{% endblock %}